@inherits LayoutComponentBase

<FluentDesignTheme @bind-Mode="@_mode" @bind-OfficeColor="@_officeColor" StorageName="@AtlasComponentsConstants.ATLAS_THEME_STORAGE" />

<FluentLayout>
    <FluentToolbar id="toolbar-fluent-components-two" style="width:100%">
        <FluentIcon Value="@(new Icons.Filled.Size20.Globe())" />
        <FluentLabel Color="Color.Accent" Typo="Typography.H5">Atlas</FluentLabel>
        <FluentSpacer />
        <LoginDisplay />
        <AuthorizeView>
            <Authorized>
                @* <ToggleMode @rendermode="InteractiveServer" /> *@
            </Authorized>
        </AuthorizeView>
    </FluentToolbar>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <AuthorizeView>
            <Authorized>
                <NavMenu />
            </Authorized>
        </AuthorizeView>
        <FluentBodyContent>
            <div class="content">
                @Body
            </div>
        </FluentBodyContent>
    </FluentStack>
</FluentLayout>

<FluentTooltipProvider />

@code {
    private DesignThemeModes _mode = DesignThemeModes.System;
    private OfficeColor? _officeColor = OfficeColor.Skype;

    protected override Task OnInitializedAsync()
    {
        System.Diagnostics.Debug.WriteLine($"{GetType().Name} - OnInitialized - START");

        System.Diagnostics.Debug.WriteLine($"{GetType().Name} - OnInitialized - END");

        return base.OnInitializedAsync();
    }
}