<div style="position: absolute; text-align: center; top: 30vh; width: 100%;">

    @if(!string.IsNullOrWhiteSpace(Title))
    {
        <FluentLabel Typo="Typography.Header">@Title</FluentLabel>
    }

    @if(!string.IsNullOrWhiteSpace(Message))
    {
        <p>
            <FluentLabel Typo="Typography.Body">@Message</FluentLabel>
        </p>
    }

    <FluentProgressRing Width="64px" />

</div>