<FluentStack Orientation="Orientation.Vertical">
    <div style="position: absolute; text-align: center; top: 30vh; width: 100%;">
        @if(!string.IsNullOrWhiteSpace(Title))
        {
            <FluentLabel Typo="Typography.Header">@Title</FluentLabel>
        }

        @if(!string.IsNullOrWhiteSpace(Message))
        {
            <FluentLabel Typo="Typography.Body">@Message</FluentLabel>
        }

        <FluentProgressRing Width="64px" />
    </div>
</FluentStack>