@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Http

@code {
    [Inject]
    public TokenProvider? TokenProvider { get; set; }

    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HttpContext == null) throw new NullReferenceException(nameof(HttpContext));
        if (TokenProvider == null) throw new NullReferenceException(nameof(TokenProvider));

        await base.OnInitializedAsync().ConfigureAwait(false);

        TokenProvider.AccessToken = await HttpContext.GetTokenAsync("access_token").ConfigureAwait(false);
        TokenProvider.RefreshToken = await HttpContext.GetTokenAsync("refresh_token").ConfigureAwait(false);
        TokenProvider.IdToken = await HttpContext.GetTokenAsync("id_token").ConfigureAwait(false);
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Atlas.Blazor.Web.App.styles.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="images/atlas.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/atlas.png">
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
