@page "/Role"
@page "/Role/{Id:int?}"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inherits ModelContainerBase<Atlas.Core.Models.Role>

@{
    // Display the markup for the underlying base
    // ModelContainerBase<T> we are inheriting.
    base.BuildRenderTree(__builder);
}

@code {
    public override string? Title { get; set; } = "Role";
    public override string? APIGetEndpoint { get; set; } = AtlasAPIEndpoints.GET_ROLE;
    public override string? APICreateEndpoint { get; set; } = AtlasAPIEndpoints.CREATE_ROLE;
    public override string? APIUpdateEndpoint { get; set; } = AtlasAPIEndpoints.UPDATE_ROLE;
    public override string? APIDeleteEndpoint { get; set; } = AtlasAPIEndpoints.DELETE_ROLE;
    public override string? ModelNameField { get; set; } = "Name";
    public override string? IdentityFieldName { get; set; } = "RoleId";

    public override RenderFragment RenderModelContent() => __builder =>
    {
        if (Model == null) throw new NullReferenceException(nameof(Model));

        <FluentAccordion>
            <FluentAccordionItem Expanded=true>
                <HeadingTemplate>
                    @if (Model.RoleId.Equals(0))
                    {
                        <FluentLabel Typo="Typography.Body">New Role</FluentLabel>
                    }
                    else
                    {
                        <FluentLabel Typo="Typography.Body">@($"Role Id {Model.RoleId}")</FluentLabel>
                    }
                </HeadingTemplate>
                <ChildContent>
                    <div>
                        <FluentTextField Name="Name" @bind-Value="Model.Name" Label="Name" />
                        <FluentValidationMessage For="@(() => Model.Name)" />
                    </div>
                    <div>
                        <FluentTextField Name="Description" @bind-Value="Model.Description" Label="Description" />
                        <FluentValidationMessage For="@(() => Model.Description)" />
                    </div>
                </ChildContent>
            </FluentAccordionItem>
        </FluentAccordion>
    };
}